html {
  scroll-behavior: smooth;
}

:root {
  --bg-celebrity: #F9F8F6;
  --text-onyx: #111111;
  --text-slate: #666666;
  --accent-champagne: #C5A880;
  --font-serif: 'Cormorant Garamond', serif;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--bg-celebrity);
  color: var(--text-onyx);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}